@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  transition: all 0.4s ease-in-out;
  background: linear-gradient(132.77deg, #3a4047 11.17%, #23292c 74.03%);
  overflow: hidden;
}
.App {
  overflow: hidden;
}

#home {
  background: linear-gradient(132.77deg, #414850 11.17%, #120000 74.03%);
  color: #ffe494;
}

#specialties {
  background: linear-gradient(180deg, #444343 0%, #141414 100%);
}

#about {
  background: linear-gradient(132.77deg, #3a4047 11.17%, #23292c 74.03%);
  color: #fff8e1;
}

#menu {
  overflow-y: auto;
}

#contact {
  background: url('../public/contact-bg.jpg');
  background-size: 100%;
  z-index: 0;
}
.navbar {
  background: linear-gradient(to right, #262626, #040404);
  color: white;
}
.minus-btn {
  top: 40%;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  transform: translate(-50%, -50%);
  right: -10px;
}
.modal-my {
  width: 90%;
}
.plus-btn {
  top: 40%;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  transform: translate(-50%, -50%);
}

.my-menu-img {
  width: 52%;
  top: 10%;
  left: 25%;
}

.my-order-btn {
  rotate: -45deg;
  z-index: 0;
  padding: 20px;
  background: linear-gradient(to right, #9d8b5a, #e3d4a8, #fcf6e3);
}
.menu-card:hover .my-order-btn {
  rotate: 0deg;
  scale: 1.4;
  z-index: 10;
  top: 20%;
  transition: all 0.7s ease;
  left: 50%;
  transform: translate(-35%, 50%);
  box-shadow: 0 0 20px #000;
  box-shadow: 0 4px 30px #1c1500;
  color: #040404;
  text-shadow: 5px 0 8px #040404a9;
  width: 60%;
  background: #000;
  color: #e3d4a8;
}
.menu-card:hover .my-menu-img {
  width: 100%;
  top: -20px;
  left: 0;
  z-index: 0;
  transition: all 0.7s ease;
}
.menu-card:hover .menu-info-div {
  scale: 1.2;
}

.menu-card:hover .menu-info-div p {
  color: #cbc3ab;
  font-weight: bold;
}

.napkin {
  background: linear-gradient(
    148.17deg,
    #fffaea 22.53%,
    #ddcc99 29.8%,
    #473a16 75.78%
  );

  position: absolute;
  width: 500px;
  height: 110vh;
  top: 0;
  right: -0.5%;
  z-index: 1;
  rotate: 10deg;
  box-shadow: 0 0 20px #000;
  border-radius: 12px;
}
.w-30 {
  width: 30%;
}

#pay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.pay-div {
  background: #d9d9d9;
  width: 80%;
  height: 90%;
  border-radius: 18px;
}
.credit-card {
  background: linear-gradient(45deg, #0b0b0b, #25272a, #414850);
  height: 300px;
  width: 500px;
  border-radius: 24px;
  box-shadow: 1px 2px 30px #212121;
}
.pizza-menu-img {
  height: 70%;
  left: 22%;
  top: 7%;
  transition: all 2s ease;
  cursor: pointer;
}

.pizza-menu-img:hover {
  transform: rotate(360deg);
  scale: 1.1;
}
.order-btn {
  width: 70%;
  border-radius: 18px;
  font-size: 3rem;
  border: 2px solid #ddcc99;
}
.btn-shadow {
  box-shadow: 0 4px 30px #ddcc99c3;
}

.home-button:hover {
  transition: all 0.5s ease-in-out;
  background: linear-gradient(to right, #9d8b5a, #e3d4a8, #fcf6e3);
  box-shadow: 0 4px 30px #1c1500;
  color: #040404;
  text-shadow: 5px 0 8px #040404a9;
}

.home-par {
  line-height: 50px;
  font-size: 1.4rem;
  color: white;
}

.crumbs {
  rotate: 179deg;
  top: 4%;
  right: 25%;
  z-index: 0;
}
.spec-text {
  font-size: 2rem;
  letter-spacing: 2px;
}
.great-food {
  font-size: 5.5rem;
  letter-spacing: 2%;
  line-height: 149px;
  color: #ffe494;
  text-shadow: 4px 0 #745d4b, -4px 0 #745d4b, 0 4px #745d4b, 0 -4px #745d4b,
    1px 1px #745d4b, -1px -1px #745d4b, 1px -1px #745d4b, -1px 1px #745d4b;
}

.pizza-img {
  height: 100%;
  top: 0;
  width: 80%;
  right: -1%;
}

.plates-div {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

.order-div {
  width: 30%;
}

@media (max-width: 780px) {
  body {
    overflow-x: hidden;
    margin: 0;
    box-sizing: border-box;
  }
  .navbar {
    width: 50%;
  }
  #home {
    flex-direction: column;
  }

  .great-food {
    margin-top: 50px;
    font-size: 2rem;
    line-height: 50px;
  }

  .home-par {
    line-height: 20px;
    width: 100%;
  }

  .order-btn {
    width: 100%;
    font-size: medium;
  }

  .pizza-img {
    transform: rotate(90deg);
    top: 0;
    height: 400px;
    width: 400px;
    right: 0;
  }
}
